
<div class="contenedor_img">
  <div class="fade-in-image">
    <img src="assets/images/NBHD.png" alt="">
 </div> 
  
</div>

<div class="contenedor_h1">
  <div class="fade-in-image">
    <h1>¿En qué estás interesado?</h1>
  </div>
  
</div>

<div class="contenedor_buscador">
    <mat-form-field class="contenedor_tipo" appearance="fill">
        <mat-select [(ngModel)]="inmueble">
          <mat-option *ngFor="let tipo of tipos" value={{tipo}}>
            {{tipo}}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="linea_vertical"></div>

    <mat-form-field class="contenedor_buscar" appearance="fill">
      <input 
      matInput
      type="text"
      spellcheck=""
      placeholder="Madrid, Valladolid, Toledo, Murcia..."
      [(ngModel)]="localidad"
      [formControl]="control"
      [matAutocomplete]="auto">
      <mat-autocomplete  #auto="matAutocomplete" class="autocomp">
        <mat-option *ngFor="let country of filCountries | async" [value]="country">
          {{country}}
        </mat-option>
      </mat-autocomplete>
      <button mat-icon-button matSuffix color="primary" (click)="navegar_inmuebles()">
        <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>
<br>





