.nav-link:hover{
  background-color: #596d8d;
  color: black;
}

.navbar-brand{
  width: 100px;
  height: 100px;
}

.main-header {
  height: 400px;
  background-image: url(https://s3-media3.fl.yelpcdn.com/assets/srv0/yelp_large_assets/65e6a224ada4/assets/img/home/hero_photos/cz8iYo13MpBBGlFLlkA8Sw.jpg);
  background-size: cover;
  background-position: center center;
}

.fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

.contenedor_h1{
    & h1 {

        margin: 2%;
        font-size: 5vh;
        text-align: center;
        letter-spacing: 3px;
        color: white;
        font-weight: bold;
        font-family: 'Plus Jakarta Sans', sans-serif;
    }
}



@media only screen and (max-width: 600px){

    .contenedor_img{
        margin: 3% 25%;
        width: 50%;
        & img {
            width: 100%;
        }
    }

    .linea_vertical{
        border-right: 2px solid #a0b5d2;
    }
    .contenedor_h1{
      & h1 {
        font-size: 5vw;
      }
    }

    .contenedor_buscador{
        border: 2px solid #364f78;
        border-radius: 10px;
        margin: 4% 10%;
        width: 80%;
        height: 58px;
        display: flex;
        justify-content: space-between;
        & .contenedor_tipo{
            width: 30%;
            height: 100%;
        }

        & .contenedor_buscar{
            width: 70%;
            height: 100%;
        }
    }
}

@media only screen and (min-width: 481px){
    .nav_bar mat-icon{
        display: none;
    }

    .contenedor_img{
        margin: 0 40%;
        margin-bottom: -30px;
        width: 25%;
        & img {
            width: 75%;
        }
    }

    .linea_vertical{
        border-right: 2px solid #a0b5d2;
    }

    .contenedor_buscador{
        border: 2px solid #364f78;
        border-radius: 10px;
        margin: 0 10%;
        width: 80%;
        height: 58px;
        display: flex;
        justify-content: space-between;
        & .contenedor_tipo{
            width: 30%;
            height: 100%;
        }

        & .contenedor_buscar{
            width: 70%;
            height: 100%;
        }
    }
  }
