$blue: #34548B;
$light-blue: #A1B5D0;
$red: #F36F61;
$light-green: #BED442;
$green: #83CB53;
$black: black;


.logon-list__item {
  display: inline-block;
}

.logon-list__link {
  color: $black;
  text-decoration: none;
}


.logon-list__link.Login:hover {
  border-bottom: 2px solid $black;
}

.navbar-brand{
  width: 100px;
  height: 100px;
}

.main-header {
  height: 400px;
  background-image: url(https://s3-media3.fl.yelpcdn.com/assets/srv0/yelp_large_assets/65e6a224ada4/assets/img/home/hero_photos/cz8iYo13MpBBGlFLlkA8Sw.jpg);
  background-size: cover;
  background-position: center;
}

.btn-circle {
  background-color: $light-green;
  border-color: $light-green;
  width: 30px;
  height: 30px;
  line-height: 20px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}
.btn-circle:hover {
  background-color: $green;
  border-color: $green;
}
.fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

.contenedor_h1{
    & h1 {
        margin: 2%;
        font-size: 5vh;
        text-align: center;
        letter-spacing: 3px;
        color: white;
        font-weight: bold;
        font-family: 'Plus Jakarta Sans', sans-serif;
    }
}
@media only screen and (max-width: 600px){

    .contenedor_img{
        margin: 3% 25%;
        width: 50%;
        & img {
            width: 100%;
        }
    }
    .contenedor_h1{
      & h1 {
        font-size: 5vw;
      }
    }

    .contenedor_buscador{
      height: 53px;
        & .contenedor_tipo{
            width: 30%;
            height: 100%;
        }

        & .contenedor_buscar{
            width: 70%;
            height: 100%;
        }
    }
}

@media only screen and (min-width: 481px){

    .contenedor_buscador{
        margin: 0 10%;
        width: 80%;
        height: 53px;
        & .contenedor_tipo{
            width: 30%;
            height: 100%;
        }

        & .contenedor_buscar{
            width: 70%;
            height: 100%;
        }
    }
  }
.modal-header{
  background-color: $green;
}
.modal-title{
  color: white;
}
.modal-btn{
  color: white;
  background-color: $green;
  border-color: $green;
}
.modal-btn:hover{
  background-color: $light-green;
  border-color: $light-green;
}
