.card-custom {
    overflow: hidden;
    min-height: 210px;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    flex-direction: row;
  }
.inmueble-image{
  height: 235px;
  width: 235px;
}
.descripcion{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}
@media (max-width: 992px)
{
  .inmueble-image{
    height: 330px;
    width: 330px;
  }
}
@media (max-width: 768px)
{
  .inmueble-image{
    height: 330px;
    width: 660px;
  }
  .card-custom {
    flex-direction: column;
  }
}
@media (max-width: 767px)
{
  .inmueble-image{
    height: 330px;
    width: 490px;
  }
  .card-custom {
    flex-direction: column;
  }
}
@media (max-width: 767px)
{
  .inmueble-image{
    height: 330px;
    width: 520px;
  }
}
@media (max-width: 575px)
{
  .inmueble-image{
    height: 330px;
    width: 520px;
  }
}
@media (max-width: 490px)
{
  .inmueble-image{
    height: 330px;
    width: 430px;
  }
}
@media (max-width: 430px)
{
  .inmueble-image{
    height: 330px;
    width: 370px;
  }
}