    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img src="assets/images/NBHD.png" alt="">
                </div>
            </div>
        </div>

        <div class="contenedor_municipios">
            <mat-form-field class="num_municipios" appearance="outline">
                <mat-label>Numero municipios</mat-label>
                <mat-select [(ngModel)]="num_elementos">
                    <mat-option (click)="renderizar_grafica()" *ngFor="let opcion of opciones" value={{opcion}}>
                    {{opcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        
            <div class="chart-container">
                <canvas id="my-chart">
                </canvas>
            </div>
        </div>

        <div class="perfil-usuario-close">
            <li (click)="logout()"><i class="icono fas fa-power-off"></i> Cerrar Sesión</li>
        </div>
    </section>
