$blue: #34548B;
$white: white;
$grey: #6E6E6E;
$red: crimson;
$light-green: #83CB53;

.card-header{
  background-color: $blue;
  font-size: 20px;
  color: $white;
  letter-spacing: 2px;
}

.card-title{
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.input_localidad{
  top: 0;
  left: 0;
  display: flex;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  width: 100%;
}

.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  background-color: $red;
  color: $white;
  font-size: 16px;
  padding: 10px 0px;
  width: 150px;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}
.effect.effect-1 {
  transition: all 0.2s linear 0s;

  &:before {
    content: "\f061";
    font-family: FontAwesome;
    font-size: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 0.2s linear 0s;
  }

  &:hover {
    text-indent: -20px;

    &:before {
      opacity: 1;
      text-indent: 0px;
    }
  }
}

.chart-container{
  width: 54%;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}


.contenedor_linea{
  margin: 3% auto;
  width: 100%;
  bottom: 0;
}

#tarta{
  width: 50%;
}

#grafica_linea{
  width: 100%;
  height: 100%;
}

.contenedor_municipios{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto 0;
  width: 100%;
  & .num_municipios{
      left: 0;
      top: 0;
      margin-left: 4%;
      margin-top: 4%;
  }
}
